body {
  max-width: 1440px;
  min-width: 300px;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

.Layout,
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Layout {
  width: 100%;
  height: 100vh;
}

.Main {
  width: 100%;
  min-height: 30vh;
  align-self: center;
}